@import url('https://fonts.googleapis.com/css?family=Oswald|Red+Hat+Display:400,700&display=swap');
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}
/*  navbar   */
.navbar {
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand{
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .8rem black;
}
.nav-link{
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .8rem black;
}
/*  landing   */
.home-inner {
    background-image: url("images/doctorlanding.jpg"); opacity: 0.8;
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    padding: 20px;
    z-index: 1;
    color: white;
}
.caption h1{
    text-shadow: .1rem .1rem .8rem black;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
}
.caption h2{
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
}

.landing {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;

}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}



#kdojsme .row{
    margin-bottom: 30px;
}
#kdojsme {
    background-color: #4A5859;
    color: #F2F2F2;
}
#kdojsme .aboutme{
    padding-right: 40px;
    padding-top: 40px;
    text-align: justify;
}

.aboutme a{
    color: lightpink;
}

/*  sluzby   */

#sluzby .container-fluid\" {
    padding: 30px;
}

#sluzby p {
    font-size: 1.5rem;
    padding: 20px;
}

/* contact */
#kontakt .kontaktbase {
    background-color: black;
}

#kontakt h3{
    font-size: 2.5rem;
    margin-top: 40px;
}
#kontakt .text-left{
    margin-left: 50px
}

.fixed {
    background-image: url("images/kancelar.jpeg");
    background-position: left;
    opacity: 0.5;
}



/*--- iOS Fixed Background Image --*/

.fixed-background {
    position: relative;
    width: 100%;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}
.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}